ul{
  margin: 0;
  padding: 10px;
  background-color: #333333;
  position: sticky;
  top: 0;
  padding-left: 80px;
  li{
  	margin-right: 40px;
    color: white;
    display: inline;
    margin-right: 30px;
    font-family: 'Montserrat Regular';
    opacity: 1;
  }
}
